<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.myapplication6">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HistoricalPlaces"
            android:label="@string/app_historical_places"></activity>
        <activity android:name=".Communities"
            android:label="@string/app_communities"></activity>
        <activity android:name=".Parks"
            android:label="@string/app_parks"></activity>
        <activity android:name=".Corporations"
            android:label="@string/app_corporations"></activity>
    </application>

</manifest>